@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* it sets base font size to 10px */
    scroll-behavior: smooth;
    scroll-padding: 9rem;
}

body {
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 80em) {
    html {
        font-size: 56.25%; /* 9px */
    }
}
