@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* it sets base font size to 10px */
}

body {
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
}

@media (max-width: 75em) {
    html {
        font-size: 56%; /* it sets base font size to 8px */
    }
}

@media (max-width: 64em) {
    html {
        font-size: 50%; /* it sets base font size to 8px */
    }
}

@media (max-width: 57em) {
    html {
        font-size: 46%; /* it sets base font size to 8px */
    }
}
