:root {
    --jaguar-12: #fbf9ff;
    --jaguar-25: #f5f5f6;
    --jaguar-50: #dfdfdf;
    --jaguar-100: #b4b5b7;
    --jaguar-200: #9b9d9f;
    --jaguar-300: #828488;
    --jaguar-400: #696c70;
    --jaguar-500: #404152;
    --jaguar-600: #373a40;
    --jaguar-700: #1e2228;
    --jaguar-800: #0f131b;
    --jaguar-900: #060a11;

    --gray-12: #fdfcff;
    --gray-25: #fbf9ff;
    --gray-50: #f7f3ff;
    --gray-100: #ece8fc;
    --gray-200: #ddd9ed;
    --gray-300: #c8c5d8;
    --gray-400: #a29fb2;
    --gray-500: #817d8f;
    --gray-600: #5a5768;
    --gray-700: #474555;
    --gray-800: #2a2836;
    --gray-900: #2a2836;

    --green-12: #f9fdf9;
    --green-25: #f2faf2;
    --green-50: #e6f6e6;
    --green-100: #c2e9c1;
    --green-200: #9ada9a;
    --green-300: #6dcd6f;
    --green-400: #46c24e;
    --green-500: #00b627;
    --green-600: #00a71e;
    --green-700: #00950e;
    --green-800: #008400;
    --green-900: #006500;

    --black-12: #fdfdfd;
    --black-25: #fafafa;
    --black-50: #f5f5f5;
    --black-100: #e9e9e9;
    --black-200: #d9d9d9;
    --black-300: #c4c4c4;
    --black-400: #9d9d9d;
    --black-500: #7b7b7b;
    --black-600: #555;
    --black-700: #434343;
    --black-800: #262626;
    --black-900: #000;

    --red-orange-12: #fffafb;
    --red-orange-25: #fff5f6;
    --red-orange-50: #ffebee;
    --red-orange-100: #ffcdd2;
    --red-orange-200: #f59b99;
    --red-orange-300: #ec7372;
    --red-orange-400: #f7534d;
    --red-orange-500: #fc4130;
    --red-orange-600: #ee3831;
    --red-orange-700: #db2d2b;
    --red-orange-800: #cf2524;
    --red-orange-900: #bf1817;

    --white: #fff;
    --transparent: transparent;
    --overlay-40: rgba(0, 0, 0, 0.4);

    --color-white: #fff;
    --color-black: #000;
    --color-gray: #173641;
    --color-gray-800: #3f4e50;
    --color-gray-600: #718284;
    --color-gray-300: #e5e5e5;
    --color-gray-100: #fafafa;
    --color-primary: #5c7656;
    --color-primary-800: #84a17d;
    --color-primary-600: #adc9a6;
    --color-primary-300: #e2ecdf;
    --color-primary-100: #f3f7f2;
    --color-dark: #153c3c;
    --color-dark-800: #416262;
    --color-dark-600: #6c8989;
    --color-dark-300: #dde4e4;
    --color-dark-100: #f2f8f8;
    --color-red: #a25353;
    --color-red-800: #cf7777;
    --color-red-600: #e9afaf;
    --color-red-300: #f2cfcf;
    --color-red-100: #faf0f0;
    --color-yellow: #a27d53;
    --color-yellow-800: #cfa677;
    --color-yellow-600: #e9ceaf;
    --color-yellow-300: #f2e2cf;
    --color-yellow-100: #faf5f0;
    --color-blue: #5d9898;
    --color-blue-800: #86c1c1;
    --color-blue-600: #bcdcdc;
    --color-blue-300: #d7eaea;
    --color-blue-100: #f2f8f8;
    --color-info: #0dcaf0;
    --color-info-800: #30d6f7;
    --color-info-600: #76e6fc;
    --color-info-300: #a1ebfa;
    --color-info-100: #b9edf7;

    --color-secondary: #a0e1da;
    --color-secondary-disabled: #7fcfc7;
    --color-bg: #f5fdff;
    --color-header: --color-gray;
    --color-section-header: #0a2533;
    --color-footer: #0a2533;
    --color-text: #455157;
    --color-text-light: --color-dark-100;
    --color-border: #dee2e6;
}
