.input {
    outline: none !important;
    height: 4.2rem;
    border: 0.15rem solid var(--jaguar-100);
    border-radius: var(--border-radius-4);
    padding: 0 var(--space-16);
    font-family: inherit;
    font-size: var(--font-size-16);
    color: var(--jaguar-900);
    width: 100%;
    transition: all 0.3s;
    margin-top: 0.4rem;
    margin-bottom: 1.6rem;
}

input::placeholder,
:-ms-input-placeholder {
    color: var(--jaguar-400);
}

.input:hover:not(.input-error, :disabled) {
    border: 0.15rem solid #a9e4dd;
}

.input:focus:not(.input-error) {
    border: 0.15rem solid #a0e1da;
}

.input-error {
    border: 0.15rem solid var(--red-orange-500);
}

.input-textarea {
    resize: none;
    padding-top: var(--space-16);
    padding-bottom: var(--space-16);
    height: 13.4rem;
}
